<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <title>Partner</title>
  </head>
  <body>
    <div class="container" style="margin-top: 20px;">
      <center><h1>Form Inputan Partner</h1></center>
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Nama Usaha</label>
            <input type="text" class="form-control" id="nama_usaha" name="nama_usaha" placeholder="Nama Usaha">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Bidang Usaha</label>
            <input type="text" class="form-control" id="bidang_usaha" name="bidang_usaha" placeholder="Bidang Usaha">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Alamat</label>
            <textarea class="form-control" id="alamat" name="alamat" placeholder="Alamat"></textarea>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Nomor Telepon</label>
            <input type="phone" class="form-control" id="telepon" name="telepon" placeholder="Nomor Telepon">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Bentuk Usaha</label>
            <input type="text" class="form-control" id="bentuk_usaha" name="bentuk_usaha" placeholder="Bentuk Usaha">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Jumalah Karyawan</label>
            <input type="number" class="form-control" id="jumlah_karyawan" name="jumlah_karyawan" placeholder="Jumalah Karyawan">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Tahun Berdiri</label>
            <input type="date" class="form-control" id="tahun_berdiri" placeholder="Tahun Berdiri">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Barang Jual</label>
            <input type="text" class="form-control" id="barang_jual" name="barang_jual" placeholder="Barang Jual">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Sosisl Media</label>
            <input type="text" class="form-control" id="sosial_media" name="sosial_media" placeholder="Sosisl Media">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Status Tempat Usaha</label>
            <input type="text" class="form-control" id="status_tempat_usaha" name="status_tempat_usaha" placeholder="Status Tempat Usaha">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Jenis Pembayaran</label>
            <select class="form-control" id="jenis_pembayaran" name="jenis_pembayaran" placeholder="Status Tempat Usaha">
              <option value="Tunai">Tunai</option>
              <option value="Kredit">Kredit</option>
              <option value="Ngutang">Ngutang</option>
            </select>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Omset</label>
            <input type="number" class="form-control" id="omset" name="omset" placeholder="Omset">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Jumlah Cabang</label>
            <input type="number" class="form-control" id="jumlah_cabang" name="jumlah_cabang" placeholder="Jumlah Cabang">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Promosi</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="promosi" id="promosi" value="Ya">
              <label class="form-check-label" for="gridRadios1">
                Ya!
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="promosi" id="promosi" value="Tidak">
              <label class="form-check-label" for="gridRadios2">
                Tidak :(
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Hobi</label>
            <input type="text" class="form-control" id="hobi" name="hobi" placeholder="Hobi">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Puanya Pinjaman</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="punya_pinjaman" id="punya_pinjaman" value="Ya">
              <label class="form-check-label" for="gridRadios1">
                Ya!
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="punya_pinjaman" id="punya_pinjaman" value="Tidak">
              <label class="form-check-label" for="gridRadios2">
                Tidak :(
              </label>
            </div>
          </div>
        </form>      
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="assets/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>